*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing:border-box;
    padding:0;
    margin:0;
    border:0;
    overflow-x:hidden;
    

   
}

.nav-cont   {
    position:relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:16px;
    border-bottom:3px solid black;
    background-color:rgb(31, 66, 103);
    
}
.page-navbar    {
    display:flex;
    flex-direction:row;
    padding:15px;

}
.intro-restaurant   {
    text-align:center;
    background: rgba(0, 0, 0, 0.9);
    height:100%;
    width: 100%;

}
#main-presentation-image    {
    max-width:100vw;
    max-height:100vh;
    min-width:1500px;
    min-height:150px;
    width:fit-content;
    height:fit-content;
}
.box-layer  {
    opacity: .3;
}
.centered   {
    color:rgb(255, 255, 255);
    font-weight:100;
    font-size:5.5em;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  
 
}
a{
    color:rgb(255, 255, 255);
    text-decoration:none;
}
#navTitle   {
    text-decoration: none;
    font-size:1.8em;
    opacity: 1;
}
.list-item  {
    
    font-size:1.2em;
    margin-right:15px;
    margin-left:15px;
    cursor: pointer;
}
.list-item:hover{
    font-weight:500;
    color:grey;
    text-decoration:underline;
}
.main-class {
    padding:15px;
    min-width:100vw;
    min-height:100vh;
    max-width:max-content;

}

.main-header    {
    display:block;
    margin:auto auto;
    min-width:100%;
    text-align:center;
}
.main-header > h1{
    font-weight: 200;
    font-size:2.8em;
    padding:20px;
    margin-top:10px;
    margin-bottom:10px
}
.main-section   {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding: 20px 10px 20px 10px;
}
.foodCont   {
    padding: 5px;
    margin: 3px
}
.main-recipesTitle{
    text-align: center;
    font-size: 1.3em;
    text-shadow: 1px 0px 1px 0px black;
    font-weight: 100;
}
.main-image {
    max-height: 230px;
    max-width:400px;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto auto;
}
@media screen() {
    
}